{% load static %}{% load i18n %}
{% if same_day is False %} <hr/> {% endif %}
<style>
.table td, .table th {
    border-top: 1px solid #6a6b6c;
}
</style>
<div class="table-responsive">
  <!--Table-->
  <table class="table table-striped" style="{% if same_day %} margin-bottom: 0;{% endif %}">

    <!--Table head-->
    <thead>
    {% autoescape off %}
        {{ head_text }}
    {% endautoescape %}

    </thead>
    <!--Table head-->

    <!--Table body-->
    <tbody>
    {% autoescape off %}
        {{ generally_before_month_portfel }}
    {% endautoescape %}
    {% autoescape off %}
        {{ generally_must_be_html }}
    {% endautoescape %}
    {% autoescape off %}
        {{ generally_be_html }}
    {% endautoescape %}
    {% autoescape off %}
        {{ generally_difference_html }}
    {% endautoescape %}
    </tbody>
    <!--Table body-->
  </table>
  <!--Table-->
</div>
